.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.txt-blue {
  color: $blue;
}

.txt-yellow {
  color: $yellow;
}

.txt-white {
  color: $white;
}

.txt-black {
  color: $black;
}